.searchBox {
    position: absolute;
    z-index: 100000;
    background: #fff;
    min-height: 0px;
    left: 265px;
    width: 349px;
    top:42px;
    border: 1px solid #000000;
    border-top: none;

}
.searchBoxElements{
    display: flex;
    font-size: 18px;
    text-decoration: none;
    width: 350px;
    padding-left: 2px;
    margin: 2px 0;
    color:#000000;
}
.searchBoxElements:hover{
    background:#f5d5d5;
    cursor: pointer;
}
