.searchBox {
    background: #fff;
    min-height: 0px;
    margin-left: 259px;
    width: 350px;
    margin-top:-21px;
    border: 1px solid #000000;
    border-top: none;

}
.searchBoxElements{
    display: flex;
    font-size: 18px;
    text-decoration: none;
    width: 350px;
    padding-left: 2px;
    margin: 2px 0;
}
.searchBoxElements:hover{
    background:#f5d5d5;
    cursor: pointer;
}
